<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
        href="style.css" />
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h1>Change First and Last Name</h1>
        <form>
            <div>
                <input type="text" id="fname" name="firstname" placeholder="New First Name">
            </div>
            <div>
                <input type="text" id="lname" name="lastname" placeholder="New Last Name">
            </div>
            <div>
                <button type="submit">Change Names</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="changename.js"></script>
</body>
</html>